.section {
  padding: 0 255px;
}

@media only screen and (max-width: 1920px) {
  .section {
  }
}
@media only screen and (max-width: 428px) {
  .section {
    padding: 0;
  }
}

@media only screen and (max-width: 1488px) {
  .section {
    padding: 0 80px;
  }
}
