.text {
  margin: 0;
}

@media only screen and (max-width: 1920px) {
  .divider {
    width: 1px;
    height: 20px;
    background-color: rgba(26, 17, 20, 0.1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
  }
}

@media only screen and (max-width: 428px) {
  .divider {
    transform: translateY(10px);
  }
}
